
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/stateStreetFND.iml
.idea/vcs.xml
.idea/workspace.xml
FND_Golang/FND_Golang.iml
stateStreetFND.iml
/backtrader/
/backtrader/__MACOSX/
/backtrader/backtrader/
/backtrader/backtrader/.idea/
/backtrader/backtrader/buy_sell_strategy.py
/backtrader/backtrader/commission_strategy.py
/backtrader/backtrader/first_strategy.py
/backtrader/backtrader/forex.csv
/backtrader/backtrader/logic_strategy.py
/backtrader/backtrader/orcl-1995-2014.txt
backtrader/__MACOSX/backtrader/._.DS_Store
backtrader/__MACOSX/backtrader/._orcl-1995-2014.txt
backtrader/backtrader/.idea/backtrader.iml
backtrader/backtrader/.idea/encodings.xml
backtrader/backtrader/.idea/misc.xml
backtrader/backtrader/.idea/modules.xml
backtrader/backtrader/.idea/workspace.xml
backtrader/backtrader/buy_sell_strategy.py
backtrader/backtrader/commission_strategy.py
backtrader/backtrader/first_strategy.py
backtrader/backtrader/forex.csv
backtrader/backtrader/logic_strategy.py
backtrader/backtrader/orcl-1995-2014.txt
backtrader/__MACOSX/backtrader/._.DS_Store
backtrader/__MACOSX/backtrader/._orcl-1995-2014.txt
backtrader/backtrader/.idea/backtrader.iml
backtrader/backtrader/.idea/encodings.xml
backtrader/backtrader/.idea/misc.xml
backtrader/backtrader/.idea/modules.xml
backtrader/backtrader/.idea/workspace.xml
backtrader/backtrader/buy_sell_strategy.py
backtrader/backtrader/commission_strategy.py
backtrader/backtrader/first_strategy.py
backtrader/backtrader/forex.csv
backtrader/backtrader/logic_strategy.py
backtrader/backtrader/orcl-1995-2014.txt
backtrader/__MACOSX/backtrader/._.DS_Store
backtrader/__MACOSX/backtrader/._orcl-1995-2014.txt
backtrader/backtrader/.idea/backtrader.iml
backtrader/backtrader/.idea/encodings.xml
backtrader/backtrader/.idea/misc.xml
backtrader/backtrader/.idea/modules.xml
backtrader/backtrader/.idea/workspace.xml
backtrader/backtrader/buy_sell_strategy.py
backtrader/backtrader/commission_strategy.py
backtrader/backtrader/first_strategy.py
backtrader/backtrader/forex.csv
backtrader/backtrader/logic_strategy.py
backtrader/backtrader/orcl-1995-2014.txt
backtrader/backtrader/orcl-1995-2014.txt
backtrader/backtrader/logic_strategy.py
backtrader/backtrader/forex.csv
backtrader/backtrader/first_strategy.py
backtrader/backtrader/commission_strategy.py
backtrader/backtrader/buy_sell_strategy.py
backtrader/backtrader/.idea/workspace.xml
backtrader/backtrader/.idea/modules.xml
backtrader/backtrader/.idea/misc.xml
backtrader/backtrader/.idea/encodings.xml
backtrader/backtrader/.idea/backtrader.iml
backtrader/__MACOSX/backtrader/._orcl-1995-2014.txt
backtrader/__MACOSX/backtrader/._.DS_Store
backtrader/backtrader/orcl-1995-2014.txt
backtrader/backtrader/logic_strategy.py
backtrader/backtrader/forex.csv
backtrader/backtrader/first_strategy.py
backtrader/backtrader/commission_strategy.py
backtrader/backtrader/buy_sell_strategy.py
backtrader/backtrader/.idea/workspace.xml
backtrader/backtrader/.idea/modules.xml
backtrader/backtrader/.idea/misc.xml
backtrader/backtrader/.idea/encodings.xml
backtrader/backtrader/.idea/backtrader.iml
backtrader/__MACOSX/backtrader/._orcl-1995-2014.txt
backtrader/__MACOSX/backtrader/._.DS_Store
FND_Golang/.idea/FND_Golang.iml
FND_Golang/.idea/misc.xml
FND_Golang/.idea/modules.xml
FND_Golang/.idea/vcs.xml
FND_Golang/result.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200101.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200101.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200102.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200102.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200103.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200103.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200104.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200104.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200105.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200105.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200106.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200106.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200107.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200107.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200108.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200108.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200109.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200109.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200110.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200110.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200111.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200111.txt
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200112.csv
HISTORICALDATA/2001/DAT_ASCII_EURUSD_T_200112.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200201.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200201.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200202.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200202.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200203.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200203.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200204.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200204.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200205.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200205.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200206.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200206.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200207.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200207.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200208.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200208.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200209.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200209.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200210.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200210.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200211.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200211.txt
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200212.csv
HISTORICALDATA/2002/DAT_ASCII_EURUSD_T_200212.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200301.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200301.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200302.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200302.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200303.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200303.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200304.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200304.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200305.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200305.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200306.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200306.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200307.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200307.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200308.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200308.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200309.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200309.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200310.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200310.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200311.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200311.txt
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200312.csv
HISTORICALDATA/2003/DAT_ASCII_EURUSD_T_200312.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200401.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200401.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200402.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200402.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200403.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200403.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200404.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200404.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200405.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200405.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200406.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200406.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200407.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200407.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200408.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200408.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200409.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200409.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200410.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200410.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200411.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200411.txt
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200412.csv
HISTORICALDATA/2004/DAT_ASCII_EURUSD_T_200412.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200501.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200501.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200502.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200502.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200503.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200503.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200504.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200504.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200505.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200505.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200506.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200506.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200507.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200507.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200508.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200508.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200509.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200509.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200510.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200510.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200511.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200511.txt
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200512.csv
HISTORICALDATA/2005/DAT_ASCII_EURUSD_T_200512.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200601.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200601.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200602.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200602.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200603.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200603.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200604.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200604.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200605.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200605.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200606.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200606.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200607.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200607.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200608.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200608.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200609.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200609.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200610.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200610.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200611.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200611.txt
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200612.csv
HISTORICALDATA/2006/DAT_ASCII_EURUSD_T_200612.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200701.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200701.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200702.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200702.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200703.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200703.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200704.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200704.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200705.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200705.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200706.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200706.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200707.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200707.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200708.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200708.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200709.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200709.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200710.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200710.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200711.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200711.txt
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200712.csv
HISTORICALDATA/2007/DAT_ASCII_EURUSD_T_200712.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200801.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200801.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200802.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200802.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200803.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200803.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200804.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200804.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200805.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200805.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200806.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200806.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200807.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200807.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200808.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200808.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200809.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200809.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200810.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200810.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200811.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200811.txt
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200812.csv
HISTORICALDATA/2008/DAT_ASCII_EURUSD_T_200812.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200901.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200901.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200902.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200902.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200903.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200903.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200904.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200904.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200905.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200905.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200906.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200906.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200907.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200907.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200908.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200908.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200909.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200909.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200910.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200910.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200911.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200911.txt
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200912.csv
HISTORICALDATA/2009/DAT_ASCII_EURUSD_T_200912.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201001.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201001.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201002.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201002.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201003.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201003.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201004.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201004.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201005.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201005.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201006.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201006.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201007.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201007.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201008.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201008.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201009.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201009.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201010.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201010.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201011.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201011.txt
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201012.csv
HISTORICALDATA/2010/DAT_ASCII_EURUSD_T_201012.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201101.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201101.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201102.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201102.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201103.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201103.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201104.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201104.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201105.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201105.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201106.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201106.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201107.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201107.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201108.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201108.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201109.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201109.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201110.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201110.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201111.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201111.txt
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201112.csv
HISTORICALDATA/2011/DAT_ASCII_EURUSD_T_201112.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201201.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201201.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201202.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201202.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201203.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201203.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201204.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201204.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201205.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201205.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201206.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201206.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201207.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201207.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201208.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201208.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201209.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201209.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201210.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201210.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201211.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201211.txt
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201212.csv
HISTORICALDATA/2012/DAT_ASCII_EURUSD_T_201212.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201301.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201301.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201302.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201302.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201303.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201303.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201304.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201304.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201305.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201305.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201306.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201306.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201307.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201307.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201308.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201308.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201309.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201309.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201310.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201310.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201311.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201311.txt
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201312.csv
HISTORICALDATA/2013/DAT_ASCII_EURUSD_T_201312.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201401.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201401.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201402.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201402.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201403.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201403.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201404.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201404.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201405.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201405.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201406.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201406.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201407.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201407.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201408.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201408.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201409.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201409.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201410.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201410.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201411.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201411.txt
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201412.csv
HISTORICALDATA/2014/DAT_ASCII_EURUSD_T_201412.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201501.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201501.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201502.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201502.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201503.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201503.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201504.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201504.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201505.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201505.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201506.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201506.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201507.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201507.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201508.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201508.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201509.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201509.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201510.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201510.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201511.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201511.txt
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201512.csv
HISTORICALDATA/2015/DAT_ASCII_EURUSD_T_201512.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201601.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201601.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201602.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201602.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201603.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201603.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201604.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201604.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201605.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201605.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201606.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201606.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201607.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201607.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201608.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201608.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201609.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201609.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201610.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201610.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201611.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201611.txt
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201612.csv
HISTORICALDATA/2016/DAT_ASCII_EURUSD_T_201612.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201701.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201701.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201702.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201702.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201703.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201703.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201704.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201704.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201705.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201705.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201706.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201706.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201707.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201707.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201708.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201708.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201709.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201709.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201710.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201710.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201711.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201711.txt
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201712.csv
HISTORICALDATA/2017/DAT_ASCII_EURUSD_T_201712.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201801.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201801.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201802.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201802.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201803.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201803.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201804.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201804.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201805.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201805.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201806.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201806.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201807.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201807.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201808.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201808.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201809.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201809.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201810.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201810.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201811.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201811.txt
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201812.csv
HISTORICALDATA/2018/DAT_ASCII_EURUSD_T_201812.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201901.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201901.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201902.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201902.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201903.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201903.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201904.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201904.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201905.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201905.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201906.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201906.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201907.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201907.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201908.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201908.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201909.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201909.txt
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201910.csv
HISTORICALDATA/2019/DAT_ASCII_EURUSD_T_201910.txt
